.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Aclonica;
    background-color: #d2ac03;
    margin-bottom: 3%;
    padding: none !important;



    :hover {
      font-weight: bold;
  }



}

.header-link {
  color: #1d0772;
  min-width: 350px; 
  width: 100%;
  border-bottom: 3px solid rgb(31, 5, 5);
  text-decoration: none;
  padding: 1%;

  :hover {
    font-weight: bold;
}

}