.individual-card {
  padding: 5%;
  color: white;
 
  .daily-card-title {   
    font-family: Karla, sans serif;   
    // font-family: Amita;
    font-style: italic;
    font-weight: 500;
    font-size: 2.5em;
    padding: 4% 0% 0% 0%;
      
  }

  .daily-card-numeral {
    font-family: Karla, sans serif;
    // font-family: Amita;
    font-size: 2em;
  }

  .daily-card-image {
    margin: 15% 5% 20% 5%;
    height: auto;
    max-width: 85%;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 0 0 30px rgb(252, 235, 138);
  }

  .daily-card-image-reversed {
    margin: 15% 5% 20% 5%;
    height: auto;
    max-width: 85%;
    transform: rotate(180deg);
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 0 0 30px rgb(252, 235, 138);
  }

  .daily-card-theme {
    font-family: Karla, sans serif;
    font-size: 2em;
    padding: 5% 3% 5% 3%;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
  }

  .daily-card-description {
    font-size: 1.5em;
    font-family: Karla, sans serif;
    font-style: italic;
    padding: 5% 0% 5% 0%;
  }

  .tarot-back {
    color: black;
    font-size: 1.3em;
    padding: 2% 5% 2% 5%;
    background: rgb(177, 154, 19);
    margin: 10%;
    border-radius: 5px;
    border: white solid 2px;
  }
}